.searchbar_container{
    height: 30px;
    width: 150%;
}

.searchbar{
    height: 100%;
    width: 45%;
    font-size: 1.3rem;
    border: 1px solid rgb(249, 107, 13);
    border-top: none;
    outline: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.searchbar_button{
    margin-top: 0cm;
    border-radius: 0;
    height: 116%;
    width: 4rem;
    background-color: rgb(249, 107, 13);
    /* border-top: 2px solid gray; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchbar_button i{
    font-size: 1.3rem;
    
}
